{% extends 'users/base.html' %}
{% block head_content %}


{% endblock %}

{% block container %}
    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" name="username" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password confirmation" name="password_confirmation" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="First name" name="first_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Last name" name="last_name" required="true" />
        </div>

        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email address" name="email" required="true" />
        </div>

        <hr>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

    <!--add a label that says if already an user add a button redirecting to login-->
            <a href="{% url 'users:login' %}" class="btn btn-link">Already an user?</a>
        </div>


    </form>


{% endblock %}

